.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;

  }
  
  .action {
    display: flex;
    gap: 5px;
  }
  .abc{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  section{
    padding-left: 100px;
    padding-right: 100px;
  }