<!-- <app-observable></app-observable> -->
<!-- <app-errnextobservable></app-errnextobservable> -->
<!-- <app-map></app-map> -->

<!-- <app-comp1></app-comp1>
<app-comp2></app-comp2> -->

<!-- <app-rform></app-rform> -->
<!-- <app-form></app-form>

<app-storage></app-storage> -->

<!-- <app-databinding></app-databinding> -->

<!-- <app-eventbinding></app-eventbinding> -->

<!-- <app-twowaybinding></app-twowaybinding>  -->

<!-- <app-directives></app-directives> -->

<!-- <app-lifecycles></app-lifecycles> -->

<!-- <app-ngfor></app-ngfor> -->

<!-- <app-child [Nvalue]="Value"></app-child> -->

<!-- <app-parent (formParent)="formParent($event)"></app-parent> -->

<!-- <h2>Custom Pipe:  {{value }}</h2>
<h2>Custom Pipe Square:  {{value | square}}</h2> -->

<!-- <h2>Custom Directive</h2>
<h2 appHideshow>This is hide Content</h2>
<h2>This is show Content</h2> -->

<h2>Service Ex</h2>
<table class="table">

        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>


        <tr *ngFor ="let data of allData">
            <td>{{data.name}}</td>
            <td>{{data.age}}</td>
            <td>{{data.email}}</td>
        </tr>

</table>