
<div class="pages w-100 mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card mb-0">
                    <div class="card-body p-3">
                        <div class="box">
                            <h5 class="text-uppercase mb-1 mt-4 text-center">Sign Up</h5>
                            <p class="mb-0 text-center">Register to Your User Dashboard</p><br>
                            <div>
                                <form>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="emailaddreass"><strong> Applicant First Name : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input type="text" class="form-control" name="allpicant_fname" value=""
                                                autocomplete="applicant_fname" autofocus=""
                                                placeholder="Enter Applicant First Name">
  
                                        </div>
  
                                        <div class="col-4">
                                            <label for="emailaddress"><strong> Applicant Middle Name : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input type="text" class="form-control" name="applicant_mname" value=""
                                                autocomplete="applicant_mname" autofocus
                                                placeholder="Enter Applicant Middle Name">
  
                                        </div>
  
                                        <div class="col-4">
                                            <label for="emailaddress"><strong> Applicant Last Name : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input type="text" class="form-control" name="applicant_lname" value=""
                                                autocomplete="applicant_lname" autofocus=""
                                                placeholder="Enter Applicant Last Name">
  
                                        </div>
  
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="emailaddress"><strong>Gender : <span
                                                        class="text-danger">*</span></strong></label>
                                            <select class="form-control select " name="gender" id="gender">
                                                <option value="">Select Gender</option>
                                                <option value="1">Male</option>
                                                <option value="2">Female</option>
                                                <option value="3">Other</option>
                                            </select>
                                        </div>
  
                                        <div class="col-4">
                                            <label for="emailaddress"><strong>Date Of Birth Of Applicant : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="dob" type="date" class="form-control " name="applicant_dob"
                                                value="" max="2023-01-03" autocomplete="applicant_dob" autofocus=""
                                                placeholder="Enter  Date Of Birth Of Applicant.">
  
                                        </div>
                                        <div class="col-4">
                                            <label for="emailaddress"><strong>Age : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="age" type="text" class="form-control " name="age" value=""
                                                autocomplete="age" autofocus="" placeholder="Enter  Age">
  
                                        </div>
                                    </div>
  
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="emailaddreass"><strong> Father First Name : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input type="text" class="form-control" name="allpicant_fname" value=""
                                                autocomplete="applicant_fname" autofocus=""
                                                placeholder="Enter Applicant First Name">
  
                                        </div>
  
                                        <div class="col-4">
                                            <label for="emailaddress"><strong> Father Middle Name : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input type="text" class="form-control" name="applicant_mname" value=""
                                                autocomplete="applicant_mname" autofocus
                                                placeholder="Enter Applicant Middle Name">
  
                                        </div>
  
                                        <div class="col-4">
                                            <label for="emailaddress"><strong> Father Last Name : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input type="text" class="form-control" name="applicant_lname" value=""
                                                autocomplete="applicant_lname" autofocus=""
                                                placeholder="Enter Applicant Last Name">
  
                                        </div>
  
                                    </div>
  
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="emailaddreass"><strong> Mother Name : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input type="text" class="form-control" name="allpicant_fname" value=""
                                                autocomplete="applicant_fname" autofocus=""
                                                placeholder="Enter Mother Name">
  
                                        </div>
  
                                        <div class="col-4">
                                            <label for="emailaddreass"><strong>Type of Disability : <span
                                                        class="text-danger">*</span></strong></label>
                                            <select class="form-control select2 " name="type_of_disabilty"
                                                id="type_of_disabilty"></select>
  
                                        </div>
  
                                        <div class="col-4">
                                            <label for="emailaddress"><strong> Disability Certificate Number : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input type="text" class="form-control" name="applicant_lname" value=""
                                                autocomplete="applicant_lname" autofocus=""
                                                placeholder="Enter Disability Certificate Number">
  
                                        </div>
                                    </div>
  
                                    <div class="form-group row">
                                        <div class="col-4">
                                            <label for="emailaddress"><strong>Username : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="username" type="text" class="form-control " name="username"
                                                value="" autocomplete="username" autofocus=""
                                                placeholder="Enter  Username">
  
                                        </div>
                                        <div class="col-4">
                                            <label for="password"><strong>Password : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="password" type="password" class="form-control " name="password"
                                                autocomplete="current-password" placeholder="Enter  Password.">
  
                                        </div>
  
                                        <div class="col-4">
                                            <label for="password_confirmation"><strong>Confirm Password : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="password_confirmation" type="password" class="form-control "
                                                value="" name="password_confirmation"
                                                autocomplete="password_confirmation"
                                                placeholder="Enter Confirm Password">
  
                                        </div>
                                    </div>
  
                                    <br>
                                    <h5 class="card-title mb-2 ">Bank Details</h5><br>
  
                                    <div class="form-group row">
                                        <div class="col-5">
                                            <label for="emailaddress"><strong>Name of the bank with which the applicant has
                                                    an account : <span class="text-danger">*</span></strong></label>
                                            <input id="bank_name" type="text" class="form-control " name="bank_name"
                                                value="" autocomplete="bank_name" autofocus=""
                                                placeholder="Enter  Name of the bank with which the applicant has an account.">
  
                                        </div>
  
                                        <div class="col-3">
                                            <label for="emailaddress"><strong>Branch : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="branch" type="text" class="form-control " name="branch" value=""
                                                autocomplete="branch" autofocus="" placeholder="Enter  Branch.">
  
                                        </div>
  
                                        <div class="col-4">
                                            <label for="emailaddress"><strong>Name of the account holder : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="account_holder" type="text" class="form-control "
                                                name="account_holder" value="" autocomplete="account_holder"
                                                autofocus="" placeholder="Enter  Name of the account holder.">
  
                                        </div>
                                    </div>
  
                                    <div class="form-group row">
                                        <div class="col-5">
                                            <label for="emailaddress"><strong>Account Number : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="bank_name" type="text" class="form-control " name="bank_name"
                                                value="" autocomplete="bank_name" autofocus=""
                                                placeholder="Enter Account Number">
  
                                        </div>
  
                                        <div class="col-3">
                                            <label for="emailaddress"><strong>IFSC Code : <span
                                                        class="text-danger">*</span></strong></label>
                                            <input id="branch" type="text" class="form-control " name="branch" value=""
                                                autocomplete="branch" autofocus="" placeholder="Enter IFSC Code">
  
                                        </div>
                                        >
                                    </div>
                                    <br>
  
                                    <p class="mb-0 text-center">I have an Account &nbsp; <a href=""
                                            class="text-dark ml-1"><b>Login</b></a></p>
  
                                    <br>
                                    <div class="col-md-12" style="display: flex; justify-content: center;">
                                        <button class="col-md-12" style="display: flex; justify-content: center;"
                                            type="submit" class="btn btn-success">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </div>