<h1 style="font-family: 'Times New Roman', Times, serif; margin-top: 20px;">Form Details</h1>

<form class="example-form" [formGroup]="formValue">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Question *" formControlName="firstName">       
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Answer Type *</mat-label>
        <mat-select >
          <mat-option value="option1">Short Text</mat-option>
          <mat-option value="option2" >Long Text</mat-option>
          <mat-option value="option3">Radio button</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
        <button mat-raised-button color="accent" style="margin-left: 550px;"  routerLink="/formdetails"><i class="bi bi-plus"></i>More Question</button>
        <button mat-raised-button color="light" aria-label="Example icon button with a delete icon"  style="margin-left:465px;">
          <mat-icon style="color:#ff4081; display: flex; justify-content: center; align-items: center; margin-left: 11px; font-size:25px; " >delete</mat-icon>
        </button>
      <br>
      <button mat-raised-button (click)="resetData()">Reset</button> &nbsp;
      <button type="submit" mat-raised-button  color="primary" routerLink="/" (click)="addData(addData)">Submit</button><br>
</form>